@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aeaebe;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9a9aaf;
}

.recharts-wrapper {
  cursor: none !important;
}

.display-none {
  @apply hidden;
}

.rc-slider-dot.rc-slider-dot-active {
  background-color: '#2e979a' !important;
}

/* .rc-slider-mark-text-active {
  color: white !important;
} */

.rc-slider-handle-dragging {
  box-shadow: 0 0 0.4rem 0.6rem rgba(11, 55, 56, 0.2) !important;
}
