@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aeaebe;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9a9aaf;
}

.recharts-wrapper {
  cursor: none !important;
}
